@page
@model AvaloniaUI.Homepage.Pages.Blog.IndexModel

@using Westwind.AspNetCore.Markdown;

@{
  ViewData["Title"] = "Avalonia Blog";
  Layout = "_DocsLayout";
}

@section Sidebar {
  <h1><span class="white">avalonia</span> blog</h1>
}

<div class="navbar-spacer"></div>

@if (Model.Posts is object)
{
  foreach (var post in Model.Posts)
  {
    <section class="blog-post summary">
      <a href="@Url.Content(@post.Url)"><h1 class="post-title">@post.Title</h1></a>
      <partial name="_PostMetadata.cshtml" model="@post"/>
      <p>@Markdown.ParseHtmlString(post.Markdown, sanitizeHtml: true)</p>
    </section>
  }
}
